          <div class="news">
            {% if site.news != blank -%}
            <div class="table-responsive" style="max-height: 20vw; overflow-y: auto;">
              <table class="table table-sm table-borderless">
              {%- assign news = site.news | reverse -%}
              {% for item in news %}
                <tr>
                  <th scope="row" class="news-date">{% if item.date | date: "%b" != "May" %}{{ item.date | date: "%b. %Y" }}{% else %}{{ item.date | date: "%b %Y" }}{% endif %}</th>
                  <td>
                    {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                  </td>
                </tr>
              {%- endfor %}
              </table>
            </div>
          {%- else -%}
            <p>No news so far...</p>
          {%- endif %}
          </div>
